.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  position: relative;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}

.profile__image__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  color: #fff;
  font-size: 40px;
  transition: opacity .3s;
}

.profile__image__edit:hover {
  opacity: 1;
  cursor: pointer;
}
