.popup__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 28px 0;
}
.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 13px 0 0;
}

.popup__error {
  color: #f00;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: calc(100%+5px) 
}

.popup__input_type_error {
  border-bottom: 1px solid #f00;
}

.popup__error_visible{
  opacity: 1;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
